$backgroundColor: #333333;
$colorHeader: #ffffff;
$colorText: #ffffff;
$bgSpan: #ff4e33;
$colorBg: #3b3f50;
$bgBtn:#e3ac00;
$colorBtn:#ffffff;
$linkColor:aliceblue;
$font-weights: ("regular": 400, "medium": 500, "bold": 700);
$headerImg: url('../img/m-h-night.jpg');