$backgroundColor: #ffffff;
$bgSpan: #13a0c7;
$colorHeader: #2c2f3c;
$colorText: #2c2f3c;
$colorBg: #3b3f50;
$linkColor:#b6c3ce;
$bgBtn:#699900;
$colorBtn:#ffffff;
$font-weights: ("regular": 400, "medium": 500, "bold": 700);
$headerImg: url('../img/m-h-day.jpg');