.wrapper {
    margin: 0 auto;
    max-width: 990px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logo-text {
    text-transform: uppercase;
    color: #777;
    cursor: pointer;
}

nav a {
    color: #777;
    text-decoration: none;
    margin-right: 35px;
    font-size: 18px;
}

nav a:hover {
    color: #bfba55;
}

.picture {
    background-image: url('../img/home-bg.jpg');
    background-size: cover;
    background-position-x: center;
    background-repeat: no-repeat;
    color: #ffffff;
    text-align: center;
    padding-top: 10px;


}

.picture h1 {
    padding-top: 17%;
    font-size: 40px;
}

.picture p {
    color: #bfb433;
    font-size: 18px;
}

.picture button {
    width: 160px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 40px;
    align-items: center;
    background-color: white;
    text-transform: uppercase;
    color: #777;
    font-size: 13px;
    text-align: center;
    border: none;
    margin-bottom: 300px;
}

.picture button:hover {
    color: #ffffff;
    background: #bfba55;
}

.blog {
    max-width: 900px;
    margin: 0 auto;
    padding: 80px 80px;
    border-bottom: 1px solid #cccccc;
}

.blog:last-child {
    border-bottom: none;
}

.blog-picture {
    width: 100%;
    margin-bottom: 20px;
}

.blog-comments {
    display: flex;
    align-items: center;
    margin-right: 15px;
    font-family: 'Merriweather', serif;
}

.blog-comments-ava {
    width: 42px;
    border-radius: 50%;
    margin-right: 0.4rem;
}

.marger {
    margin-right: 16px;
}

.blog-discription {
    font-family: 'Merriweather', serif;
}

.blog button {
    color: #777;
    width: 162px;
    padding: 15px 20px;
    border-radius: 20px;
    margin-top: 20px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    background: #FFFFFF;
    border: 1px solid rgba(151, 141, 141, 0.986);
}

footer {
    background: #000;
    padding: 50px 50px;
}

.footer {
    color: #777;
    max-width: 900px;

    margin: 0 auto;
    display: flex;

}

.footer-left {
    width: 250px;

}

.footer-right {
    margin-left: 100px;
}

.footer h1 {
    color: #ffffff;
}